# Análisis y Preprocesamiento del Consumo de Energía en los Estados Unidos (1973-2024)

**Autor:** Juan Manuel Martínez Estrada  
**Fecha:** 2025-06-05  
**Versión:** 1.0  

---

# 1. Configuración del Entorno y Rutas

---

* Importación de Librerías

In [90]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

* Importación de Librerías Personalizadas

In [91]:
import sys
import os
sys.path.append(os.path.abspath('..'))
import src.data_loader as dl

* Configuración Global

In [92]:
# Configración de Pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_rows', 50)

# Configuración de Matplotlib
plt.style.use('seaborn-v0_8')
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 12
plt.rcParams['axes.titlesize'] = 14
plt.rcParams['axes.labelsize'] = 12

# Configuación de NumPy
np.set_printoptions(precision=2, suppress=True)

* Rutas

In [93]:
data_path = os.path.join('..', 'data', 'raw', 'dataset.csv')
data_output_path = os.path.join('..', 'data', 'processed', 'dataset_processed.csv')

---

# 2. Carga de Datos Crudos (`dataset.csv`) e Inspección Incial

---

* Leyendo el archivo csv

In [94]:
df = dl.cargar_datos(data_path)
df

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1,1973,1,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
2,1973,1,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
3,1973,1,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
4,1973,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.07,1.67,4.27,0.04,7.05,6.23,2.44,0.00,15.73,21.77,0.00,0.00,0.00,0.00
3061,2024,1,Electric Power,0.00,4.67,32.71,119.27,15.07,13.87,0.00,0.00,28.94,257.66,0.00,0.00,72.08,0.00
3062,2024,1,Industrial,0.31,0.36,0.99,0.04,104.88,14.17,1.53,67.74,188.32,190.01,0.00,0.00,0.00,0.00
3063,2024,1,Residential,0.00,3.35,14.90,0.00,34.06,0.00,0.00,0.00,0.00,52.32,0.00,0.00,0.00,0.00
3064,2024,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,86.10,0.00,140.19,0.00,30.78,3.44,0.00,19.87

* Dimensiones del Dataset

In [95]:
print("Las dimensiones del dataset son: ", df.shape)

Las dimensiones del dataset son:  (3065, 17)

* Visualización de las Primeras y Ultimas filas del Dataset

In [96]:
df.head(5)

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1,1973,1,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
2,1973,1,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
3,1973,1,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
4,1973,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [97]:
df.tail(5)

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
3060,2024,1,Commerical,0.07,1.67,4.27,0.04,7.05,6.23,2.44,0.00,15.73,21.77,0.00,0.00,0.00,0.00
3061,2024,1,Electric Power,0.00,4.67,32.71,119.27,15.07,13.87,0.00,0.00,28.94,257.66,0.00,0.00,72.08,0.00
3062,2024,1,Industrial,0.31,0.36,0.99,0.04,104.88,14.17,1.53,67.74,188.32,190.01,0.00,0.00,0.00,0.00
3063,2024,1,Residential,0.00,3.35,14.90,0.00,34.06,0.00,0.00,0.00,0.00,52.32,0.00,0.00,0.00,0.00
3064,2024,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,86.10,0.00,140.19,0.00,30.78,3.44,0.00,19.87

**Hallazgo Clave**

1. Los valores nulos (0) presentes en todo el dataset deben ser tratados ya que estos corresponden bien sea a valores no registrados, no disponibles en la fecha indicada o sin información. Por lo tanto , se debe realizar un estudio o interpretación de estos valores datos previamente identificados y definirlos como NaN, para posteriormente eliminarlos o reemplazarlos con un valor apropiado.

2. Las columnas `Year` y `Month` deben transformarse a formato `datetime` para facilitar la interpretación de las series de tiempo y realizar análisis de los datos en función de la fecha.

3. Los últimos 5 valores corresponden a mediciones para el año 2024, siendo estos solo 1 mes por lo que a simple vista pareciera que los datos estan incompletos, pero se pueden usar en el caso de evaluar las predicciones de los modelos.

4. La columna  `Total Renowable Energy` presente en el datagrame `df` puede presentar valores incorrectos de la suma de las demás energías renovables, por lo cual se deben recalcular los valores de esta columna para asegurar la consistencia de los datos.

---

# 3. Manejo Inicial de Ceros y Fechas

---

* Se elimina el año `2024` ya que posee un unico dato, lo cual se presenta como un atipico para futuro análisis.

In [98]:
df = df[df['Year'] != 2024]

* Combinar `Year` y `Month` en una columna `datetime`.

In [99]:
df = dl.crear_indice_fecha(df)  # Creando un índice de fecha a partir de las columnas 'Year' y 'Month'

# Comprobando la información del dataset
df.head(10)  # Mostramos las primeras 10 filas del dataset

,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
datetime,,,,,,,,,,,,,,,
1973-01-01,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1973-01-01,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
1973-01-01,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
1973-01-01,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
1973-01-01,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1973-02-01,Commerical,0.00,0.00,0.00,0.00,0.52,0.00,0.00,0.00,0.52,0.52,0.00,0.00,0.00,0.00
1973-02-01,Electric Power,0.00,0.45,0.00,0.00,0.16,0.14,0.00,0.00,0.30,79.33,0.00,0.00,78.58,0.00
1973-02-01,Industrial,0.96,0.00,0.00,0.00,89.36,0.00,0.00,0.00,89.36,90.32,0.00,0.00,0.00,0.00
1973-02-01,Residential,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00
1973-02-01,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [100]:
df = dl.crear_indice_fecha(df)  # Creando un índice de fecha a partir de las columnas 'Year' y 'Month'

# Comprobando la información del dataset
df.head(10)  # Mostramos las primeras 10 filas del dataset

,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
datetime,,,,,,,,,,,,,,,
1973-01-01,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1973-01-01,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
1973-01-01,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
1973-01-01,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
1973-01-01,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1973-02-01,Commerical,0.00,0.00,0.00,0.00,0.52,0.00,0.00,0.00,0.52,0.52,0.00,0.00,0.00,0.00
1973-02-01,Electric Power,0.00,0.45,0.00,0.00,0.16,0.14,0.00,0.00,0.30,79.33,0.00,0.00,78.58,0.00
1973-02-01,Industrial,0.96,0.00,0.00,0.00,89.36,0.00,0.00,0.00,89.36,90.32,0.00,0.00,0.00,0.00
1973-02-01,Residential,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00
1973-02-01,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

* Definiendo las columnas de interes

In [101]:
consumption_columns = [
    'Hydroelectric Power', 'Geothermal Energy', 'Solar Energy',
    'Wind Energy', 'Wood Energy', 'Waste Energy',
    'Fuel Ethanol, Excluding Denaturant', 'Biomass Losses and Co-products',
    'Biomass Energy', 'Renewable Diesel Fuel',
    'Other Biofuels', 'Conventional Hydroelectric Power', 'Biodiesel' 
]

* Reemplazar valores `0` por `np.nan` en estas columnas, justificando según la descripción del dataset.

In [102]:
# Reemplazando los ceros '0' por NaN
df[consumption_columns] = df[consumption_columns].replace(0, np.nan)  # reemplaza los ceros por NaN en las columnas de consumo
# Verificando si hay valores NaN en las columnas de consumo
df[consumption_columns].isna().sum()  # muestra la cantidad de valores NaN en cada columna de consumo

Hydroelectric Power                   2037
Geothermal Energy                     1188
Solar Energy                          1329
Wind Energy                           2272
Wood Energy                            612
Waste Energy                          1512
Fuel Ethanol, Excluding Denaturant    1512
Biomass Losses and Co-products        2544
Biomass Energy                         708
Renewable Diesel Fuel                 2904
Other Biofuels                        2940
Conventional Hydroelectric Power      2448
Biodiesel                             2784
dtype: int64

* Convertir columna `Sector` a tipo `category`.

In [103]:
# Convirtiendo 'Sector' a tipo categórico
df['Sector'] = df['Sector'].astype('category')  # convierte la columna 'Sector' a tipo categórico
df.dtypes  # muestra la información del DataFrame para verificar el cambio de tipo de dato

Sector                                category
Hydroelectric Power                    float64
Geothermal Energy                      float64
Solar Energy                           float64
Wind Energy                            float64
Wood Energy                            float64
Waste Energy                           float64
Fuel Ethanol, Excluding Denaturant     float64
Biomass Losses and Co-products         float64
Biomass Energy                         float64
Total Renewable Energy                 float64
Renewable Diesel Fuel                  float64
Other Biofuels                         float64
Conventional Hydroelectric Power       float64
Biodiesel                              float64
dtype: object

* Imputación de Datos

In [104]:
df = dl.imputar_datos_consumo(df, consumption_columns)  # Imputando los datos de consumo

df

,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
datetime,,,,,,,,,,,,,,,
1973-01-01,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1973-01-01,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
1973-01-01,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
1973-01-01,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
1973-01-01,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-01,Commerical,0.26,1.67,3.91,0.04,7.00,6.40,2.65,72.36,16.05,21.74,28.84,3.46,64.80,20.97
2023-12-01,Electric Power,0.26,4.82,31.16,130.85,11.91,15.13,2.16,73.22,27.04,259.51,31.22,3.62,65.64,20.78
2023-12-01,Industrial,0.27,0.36,0.94,0.04,104.60,14.36,1.67,74.07,194.69,196.30,33.59,3.78,65.64,20.60
2023-12-01,Residential,0.27,3.36,14.66,0.04,38.25,14.36,47.62,74.07,175.46,56.27,35.97,3.94,65.64,20.41
2023-12-01,Transportation,0.27,3.36,14.66,0.04,38.25,14.36,93.57,74.07,156.23,0.00,38.34,4.10,65.64,20.22

* Corregir el nombre del sector `'Commericial'`

In [105]:
df['Sector'] = df['Sector'].cat.rename_categories({'Commerical': 'Commercial'})

* Calculo de la columna `'Total Renewable Energy'`

In [106]:
df_2 = df.copy()  # Haciendo una copia del DataFrame original
# df_2 = df_2.groupby(['datetime'])
df_2 = df_2[consumption_columns]  # Agrupando por fecha y sumando las columnas de consumo

df['Total Renewable Energy'] = df_2.sum(axis=1)

df['Total Renewable Energy']

datetime
1973-01-01     1.14
1973-01-01    89.43
1973-01-01   198.91
1973-01-01    30.07
1973-01-01     0.00
              ...
2023-12-01   228.42
2023-12-01   417.82
2023-12-01   514.60
2023-12-01   494.04
2023-12-01   523.11
Name: Total Renewable Energy, Length: 3060, dtype: float64

* Guardando los datos procesados en un archivo csv

In [107]:
dl.guardar_datos(df, data_output_path)  # Guardando el DataFrame procesado en un archivo CSV

Datos guardados correctamente en ..\data\processed\dataset_processed.csv